
{% load static %}


<div class="table-responsive">
    <table class="table table-centered w-100 dt-responsive nowrap" id="empresasTable">
        <thead class="table-light">
            <tr>
                <th class="all" style="width: 20px;">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                    </div>
                </th>
                <th class="all">Funcionário</th>
                <th>CPF</th>
                <th></th>
                <th>Regime Tributário</th>
                <th>Telefone</th>
                <th>Nome Fantasia</th>
                <th>Cidade</th>
                <th>Status</th>
                <th style="width: 85px;">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="customCheck{{ forloop.counter }}">
                            <label class="form-check-label" for="customCheck{{ forloop.counter }}">&nbsp;</label>
                        </div>
                    </td>
                    <td>{{ employee.full_name }}</td>
                    <td>{{ employee.cpf }}</td>
                    <td>{{ employee. }}</td>
                    <td>{{ empresa.regime_tributario.nome }}</td>
                    <td>{{ empresa.nome_fantasia }}</td>
                    <td>{{ empresa.cidade }}</td>
                    <td>{{ employee.telephone }}</td>
                    <td>
                        {% if employee.is_active %}
                            <span class="badge bg-success">Ativa</span>
                        {% else %}
                            <span class="badge bg-danger">Inativa</span>
                        {% endif %}
                    </td>
                    <td class="table-action">
                        <a href="#" hx-get="{% url 'atualizar_empresa' empresa.id %}" hx-target="#formContent" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#DynamicModal" onclick="setModalTitle('Formulário Empresa', '{% url 'atualizar_empresa' empresa.id %}')">
                            <i class="mdi mdi-square-edit-outline"></i>
                        </a>
                        <a href="javascript:void(0);" class="action-icon delete-button">
                            <i class="mdi mdi-delete"></i>
                        </a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    
    {% for empresa in empresas %}
        <!-- Modal Dinamico-->
        <!-- Placeholder para os Modais -->
        <div id="modalContainer" class="modalContainer">
            {% include 'include/modal_dinamico.html'%}
        </div>
    {% endfor %}

    {% block script %}
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

        <script>
            function setModalTitle(title, action) {
                document.getElementById('DynamicModalLabel').innerText = title;
                document.getElementById('DynamicForm').action = action;
            }
        </script>     
    {% endblock %}
</div>