<div class="modal fade" id="DynamicModal" tabindex="-1" aria-labelledby="DynamicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DynamicModalLabel"></h5>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                {% comment %} <form id="DynamicForm" method="post">
                    {% csrf_token %}
                    <div id="formContent"></div>
                </form> {% endcomment %}
            </div>
        </div>
    </div>
</div>