.header-container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--color-line);
    padding: 7px;
}

.container-button button {
    border: 1px solid var(--third-color-blue);
    border-radius: 0.25rem;
    background-color: #f0f0f5;
    color: var(--third-color-blue);
    font-size: 1.5rem;
    width: 40px;
    height: 33px;
    transition: 0.3s ease;
}

.container-button button:hover{
    color: white;
    background-color: var(--third-color-blue);
}

.container-user {
    height: 47px;
    width: 47px;
    padding: 3px;
    border-radius: 50px;
    border: 1px solid var(--third-color-blue);
    text-align: center;
    transition: 0.3s ease;
}

.container-user:hover {
    background-color: var(--third-color-blue);
    border: 1px solid var(--third-color-blue);
}

.container-user i {
    font-size: 1.7rem;
    padding: 5px;
    color: var(--third-color-blue);
    transition: color 0.3s ease;
}

.container-user i:hover {
    color: white;
}
