{% extends 'core/base.html' %}

{% block content %}

    <h3>Funcionários</h3>
    <button class="btn btn-danger mb-3" hx-get="{% url 'employee-create' %}" hx-target="#modal-body" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#DynamicModal">Cadastrar Funcionário</button>
    <ul class="list-group">
        {% for employee in employees %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ employee.full_name }}
                <span>
                    <button class="btn btn-sm btn-warning" hx-get="{% url 'employee-update' employee.pk %}" hx-target="#modal-body" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#DynamicModal"><i class="fi fi-rr-edit"></i></button>
                    <button class="btn btn-sm btn-danger" hx-get="" hx-target="#modal-body" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modal"><i class="fi fi-rr-trash"></i></button>
                </span>
            </li>
        {% endfor %}
    </ul>

    {% include 'employees/include/modal_dinamico.html' %}

    {% block script %}
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}